haigo.info
*.html
*.Po
*.gcov
*.gcda
*.gcno
src/haigo
src/*.o
tests/*.o
tests/check_board
tests/check_io
tests/check_run_program
tests/check_move
tests/check_global_tools
cover/*
doc/html/
doc/latex/
autom4te.cache/
Makefile
Makefile.in
doxygen_warnings
config.*
configure
configure.ac
aclocal.m4
compile
configure.ac
depcomp
missing
stamp-h1
TAGS
src/TAGS
tests/TAGS
src/Makefile
src/Makefile.in
tests/Makefile
tests/Makefile.in
*/.deps/*.Po
.vimrc
tests/testfile.sgf
haigo.log
level*.sgf
log2
SGF

